*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}


#menu-container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid rgb(45, 44, 44);
    border-radius: 20px;
    padding: 10px;
}

#order-container {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar {
    background-color: #d3cdcd93;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#logout{
    background-color: transparent;
}
#names{
    background-color: transparent;
}

.menuHeader{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.menu-item-container{
    border-radius: 10%;
    border: 1px solid grey;
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.menu-item-container span:nth-child(1){
    font-size: 18px;
    text-align: start;
    width: 60%;
    font-weight: bolder;
    margin-top: 5px;
}

.menu-item-container span:nth-child(2){
    font-weight:600;
    color: grey;
    width: 100%;
}

.menu-item-container p{
    border-bottom: 1px solid green;
    display: flex;
    width: 100%;
    align-items: center;
}

.dishImg{
    width: 100%;
    border-radius: 10%;
}

.orderButton{
    margin-top: 15px;
    cursor: pointer;
    padding: 8px;
    width: 150px;
    border: none;
    background-color: rgb(6, 172, 237);
    font-size: 17px;
    color: white;
    border-radius: 10px;
}

.loader {
    display: none;
    border: 14px solid #02ff02;
    border-top: 14px solid  #0097fc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.7s linear infinite;
    margin: auto;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loader2{
    display: none;
    margin: auto;
    text-align: center;
    width: 30%;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #423f52;
}